h1{
  color:white;
  text-align: center;
}
h2{
  color: white;
}

.modal-dialog {
  max-width: 537px !important;
  margin: 1.75rem auto;
}
body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8LCGM8uMQQ-fW41ViWFzA6vdCnDnaDPpAB86WZoLkEv3VHYgo&s');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Kalam', cursive;
  
}
@media screen and (min-width: 480px) {
  body {
    background-color: black;
  }
}
.code{
  text-align: center;
  color:white;
  padding-top: 50px;
  font-size: 30px;
}
p{
  color:white;
}