h1{
  color:white;
  text-align: center;
}
h2{
  color: white;
}

.modal-dialog {
  max-width: 537px !important;
  margin: 1.75rem auto;
}
body{
  background-image: url('https://images.unsplash.com/photo-1485796826113-174aa68fd81b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Kalam', cursive;
}
.code{
  text-align: center;
  color:green;
  padding-top: 50px;
  font-size: 30px;
}
p {
  color:white;
}